body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

/* 
-----------------
text styles 
-----------------
*/


h1 {
    color: #000;
    font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.015em;
    width:100%;
    margin-bottom: 30px;
}

/* 
-----------------
h1 not visible on home page and contact page
-----------------
*/
.homepage h1, .contacto h1 {
    display:none;
}

h2 {
    color: #777;
    font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.015em;
}

h3 {
    color: #777;
    font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: -0.015em;
}

p { font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 160%;

}

/* 
-----------------
header and nav styles 
-----------------
*/
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width:100%;
}



.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width:20%;
}

.logo {
    width: 25%;
    max-width:300px;
    height:auto;
    padding-left: 20px;
}
.logo img {
    max-width: 300px;
    height:auto;
    padding: 20px 0 20px 0;
}

ul.menu {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin:0 auto 7px;
    margin-block-end:0;
}

ul.menu li {
    padding: 0 20px;
    text-align: center;
    line-height: 1rem;
}

#menu-toggle {
    display:none;
}

ul.language {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-inline-start: 0;
    margin:0 auto 7px;
    font-size: 12px;
}

ul.language li {
    padding: 0 20px;
}

/* 
-----------------
link effects
-----------------
*/

nav {
    font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
    font-variant: small-caps;    
    color:#b62300;
}
nav ul li, nav ul li a, nav ul li a:hover, nav ul li a:visited {
    list-style-type: none;
    color:#b62300;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Esto no sé si ponerlo porque me queda el menú en gris luego de visitarlo una vez
nav ul li a:visited {
    color:#777;
}
*/

a.current { 
    color:#777;
  }

nav.language ul li {
    padding:0 3px;

}

nav.social ul li {
    padding:0 0.05%;
    overflow: hidden;
}



select.orden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:ccc solid 1px;
    display: block;
    position: relative;
    width: auto;
    font-size: 14px;
    height:22px;
    padding: 1px 20px 2px 20px;
    margin: 0px auto 30px;
    border-radius:0%;
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    background-color: #fff;
    font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
    font-variant: small-caps;    
    color: #ccc;
}

select.orden::before {
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "Amenities";

}


/* 
-----------------
searchbar in header
-----------------


*/


.searchbar {
  width: 230px;
  font-size: 14px;
  height:20px;
  padding: 1px 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px
}

.searchbar input, .searchform button {
  float: left
}
.searchbar input {
  background:#fefefe;
  border: #777 ;
  border: 1px solid #d3d3d3;
  font:10px/12px 'Montserrat', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 2px 2px 2px 8px;
  width: 230px;
  height:22px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px
}
.searchbar input:focus {
  outline: none;
  box-shadow:0 0 4px #b62300 inset;
  -moz-box-shadow:0 0 4px #b62300 inset;
  -webkit-box-shadow:0 0 4px #b62300 inset;
}
.searchbar input::-webkit-input-placeholder {
  line-height: 15px;
}

.searchbar input:-moz-placeholder {
  line-height: 15px
}

.searchbar button {
  border: none;
  background-color: transparent;
  color: #b62300;
  cursor: pointer;
  padding: 4px;
  font-size:10px;
  width:18px;
  z-index:10;
  margin-left: -25px;
} 



/* 
-----------------
main section
-----------------
*/


main {
  margin-top:30px;
}

/* 
-----------------
main  - carousel
-----------------
*/

.carousel-container {
  position: relative;
}

.carousel-overlay {
  position:absolute;
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(182, 35, 0, 0.43));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  width:100vw;
  height:55vw;
}

.carousel-item {
  height:100%;
  max-height:40vw;
  text-align: left;
}

.carousel-caption {
  text-align: left;
  z-index: 100;

}

.carousel h4 {
    text-align: left;
    position: relative;
    display: block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 4vw;
    letter-spacing: -0.015em;
    margin-bottom: 30px;
    color: #fff;
}


button {
  border: none;
  color: #fff;
  background-color: #b62300;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  cursor: pointer;
  padding: 10px 20px;
  width:auto;
  font-size: 0.8em;
  border-radius: 3px;
}

.carousel-caption a button {
  text-align: left;
}

.carousel-control-next-icon {
  display: hidden;
}

.carousel-caption {
  width:40vw;
  left: 5vw;
  bottom:20%;
  -webkit-box-align:left;


}

/* 
-----------------
main section  - properties
-----------------
*/

section {
  padding:5vh 1.5vw;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;

}

section h2 {
  display: block;
  text-align: center;
  width:100%;
  margin: 2rem auto;
}

.orden {
  width:100%;
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  width: 32%;
  overflow: hidden;
}

article .property-image {
  width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
}

section.otros-servicios {
  background-color: #eee;
}

/* 
-----------------
section  - busqueda avanzada
-----------------
*/


section .orden-header {

  width:100vw;

}

section .advanced-searchbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding: 2vw 0;
}

section .advanced-searchbox .orden {
  width: 23%;
}

.advanced-searchbox select.multi-choice:hover {
  margin: -170px auto 30px;
  top: 35px;
  height: 200px;
  z-index:2;
}


/* 
-----------------
línea selectora de precio
-----------------
*/

.scrollbar-container {
  width:100%;
  display: flex;
  align-items: center;
}

.advanced-searchbox .scrollbar {
  border:ccc solid 1px;
  display: flex;
  position: relative;
  width: 50%;
  height:60px;
  font-size: 14px;
  padding: 1px 20px 2px 10px;
  margin: 30px auto 10px;
  border-radius:0%;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;    
  color: #777;
}

.scrollbar .line {
  width: 100%;
  height:11px;
  padding: 1px 20px 2px 20px;
  border-bottom: solid 2px #b62300;
}

.scrollbar .search-price-1 {
  width: auto;
  top: 20px;
  left:0px;
  position: absolute;
  text-align: left;
}

.scrollbar .search-price-2 {
  width: auto;
  position: absolute;
  top: 20px;
  right:0px;
  text-align: right;
}

.scrollbar .price-selector-1 {
  width: auto;
  justify-self:flex-start;
  align-items: center;
  top: 20px;
  left:0px;
  color: #b62300;
}

.scrollbar .price-selector-2 {
  width: auto;
  justify-self:flex-end;
  align-items: center;
  top: 20px;
  left:0px;
  color: #b62300;
}



.advanced-searchbox button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  background-color: #b62300;
  cursor: pointer;
  padding: 2px;
  width:auto;
  min-width:15%;
  z-index:10;
  margin: 20px auto;
  padding:10px;
}



/* 
-----------------
main section - articles
-----------------
*/


section.otros-servicios .highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-right: 5vw;
  }

.otros-servicios .highlight-text {
  width:70vw;
  font-size: 2vw;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
}

.highlight button {
  background-color: #b62300;
  min-width: 100px;
  height:auto;
  max-height: 3rem;
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-size: 1.2rem;
  color: #fff;
}

.highlight button:nth-of-type(2) {
  background-color: #fff;
  color: #b62300;
  border: #b62300 solid 1px;
}

.opportunity-label {
  display: block;
  z-index: 10;
  position:absolute;
  width: auto;
  text-align: center;
  left: 1vw;
  top: 1vw;
  padding: .5vw;
  background-color: rgb(182, 35, 0);
  color: #fff;
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;}

.transaction-button {
  display: block;
  z-index: 10;
  position:absolute;
  width: auto;
  min-width:5vw;
  text-align: center;
  right: 1vw;
  bottom: 1vw;
  padding: .5vw;
  background-color: #b62300;
  color: #fff;
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;}

article h3 {
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  color:#000;
  font-variant-caps: titling-caps;
}

article .price {
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;    
  font-size: 1rem;
  line-height: .8rem;
  margin-bottom: 1rem;
  color:#777;
  font-variant-caps: titling-caps;
}

article p {
  color: #000;
  padding-right: 1rem;
}



/* 
-----------------
nosotros section - articles
-----------------
*/


section.nosotros {
  display:flex;
  min-height: 50vh;
  align-items: center;
  justify-content: space-between;
}

section .six-col-image {
  width: 48vw;
  top:0px !important;
  padding-top: 0;
  background-color: #ccc;
  min-height:500px;
}

section.nosotros .section-text {
  display: flex;
  width:48vw;
  flex-direction: column;
  padding: 1vh 1vw 1vh 0 ;
}

.section-text button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  background-color: #b62300;
  cursor: pointer;
  padding: 2px;
  width:auto;
  min-width:20%;
  margin: 2% 40% ;
  padding:10px;
}

section.tasaciones {
  display:flex;
  min-height: 47vh;
  align-items: center;
  justify-content: space-between;
}

section.tasaciones .section-text {
  display: flex;
  width:48vw;
  flex-direction: column;
  padding: 1vh 1vw ;
}


/* 
-----------------
propiedad individual section
-----------------
*/

section.individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height:60vh;
  padding:30px 3% 3% 3%;
  min-height: 70vh;
  height: fit-content;
  background-color: #eee;
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  
}

.photoframe {
  display: grid;
  grid-template-areas: "photo1 photo1 photo2"
                       "photo1 photo1 photo3";
  justify-content:stretch;
  row-gap: 1vw;
  column-gap: 1vw;
  min-height: 40vw;
  overflow: hidden;
  
}

.photoframe > img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height:100%;

}

.photoframe img:nth-of-type(1) {
  grid-area: photo1;
  max-width: 100%;
  height:100%;
}

.photoframe img:nth-of-type(2) {
  grid-area: photo2;

}

.photoframe img:nth-of-type(3) {
  grid-area: photo3;
}

.detail-line {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 0;
}

.detail-line ul {
  display: flex;
  list-style: none;
  margin-right:20px;
  margin-bottom:0;
}

.detail-line h3 {
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 20px;
}

.text-block h1 {
  grid-area: title;
  text-align: left;
  margin-bottom: 20px;
  display:block;
  height: auto;
}

.text-block h2 {
  font-family: 'Castoro Titling', 'Copperplate', Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 24px;
  line-height: 20px;
  padding-right: 20px;
  color:#777;
  font-variant-caps: titling-caps;
  width: auto;
  grid-area: sub;
  text-align: left;
  margin:0;
  height: fit-content;
  margin-bottom: 20px;
  display:block;
  height: auto;

}
.detail-line ul li {
  margin-right:20px;
}

section.individual .detail-line .saletype-button  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  background-color: #b62300;
  cursor: pointer;
  padding: 2px;
  width:auto;
  width:100px;
  padding:10px;
  text-align: center;
  position: relative;
  margin-right: 50px;
  border-radius:5px;
}

.text-block {
  display: grid;
  grid-template-areas:  "title title title"
                        "sub sub sub"
                       "text text map";
  height: auto;
}
.description {
  display: flex;
  flex-direction: column;
  grid-area: text;
  row-gap: 1vw;
  column-gap: 1vw;
  width: 60vw;
}




.maps {
  grid-area: map;
  min-width: 20vw;
}


/* 
-----------------
contact section
-----------------
*/

section.contacto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height:60vh;
  padding:30px 3% 3% 3%;
  min-height: 70vh;
  height: fit-content;
  background-color: #eee;
}


section.contacto .highlight-text {

  width: 40vw;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.015em;
  margin-bottom: 2%;
  margin-right: 5%;
  color: #000000;
  vertical-align: text-top;
}

.contact-form h2 {
  width:100%;
  text-align: center;
}
.contact-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fff;
  padding: 0 2vw 2vw 2vw;
  width:45vw;
  min-height:45vh;
  height: fit-content;
  border: #aaa solid 1px;
  text-align: left;
}

.contact-form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48%;
  background-color: #fff;
  padding: 2px 20px;
  margin:2% 2% 2% 0;
  height:30px;
  border: #ccc solid 1px ;
}

.contact-form label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  background-color: #fff;
  padding: 2px 20px;
  margin: 0;
  width:auto;
  justify-self: flex-start;
}

.contact-form label p {
  line-height: 100%;
  margin: 20px 0 0 0;
  justify-self: flex-start;
  display: flex;
}

.contact-form .textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  padding: 2px 20px;
  width:98%;
  height:100px;
  border: #ccc solid 1px;

}

.contact-form a button  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  background-color: #b62300;
  cursor: pointer;
  padding: 2px;
  width:auto;
  min-width:10vw;
  margin: 2vh 0 ;
  padding:10px;
  align-self: center;
}



/* 
-----------------
footer
-----------------
*/

footer {
  margin: 5vh 5vw 3vh 1vw;
  display: flex;
  justify-content: space-between;
}


nav.social ul {
  padding-right:0px;
  padding-inline-start: 0px;

}

nav.social ul {
  display: flex;
  flex-direction: row;

}

nav.social ul li {
  padding-right: 20px;


}

nav.main {
  min-width: 50vw;
  max-width: 70vw;
}
nav.main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 0px;


}

nav.main ul li {
  padding-right: 20px;

}


/* 
-----------------
responsive 
-----------------
*/


@media (max-width:720px) {
    
.header {
  width: 100%;
  flex-direction: column;
}

nav ul.language {
  display: none;
}

.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #b62300;
  height: auto;
  padding: 1em;
}

.logo {
  padding-left:0;
  padding-top:10px;
  padding-bottom: 5px;
  width:auto;
}

.logo img {
  padding-top: 10px;
}


/* 
-----------------
Hamburger menu 
-----------------
*/

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #b62300;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #fff;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.menu-button-container {
  display: flex;
}

ul.menu {
  top: 0;
  margin: 20px 0 0px 0;
  left: 0;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border-top: 0.5px solid #ccc;
  height: 2.5em;
  padding: 0.5em 0.5em 0 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0 0 0;
  width: 100%;
  color: white;
  background-color: #fff;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* 
-----------------
responsive - carousel 
-----------------
*/

.carousel {
  height: 55vw;
}

.carousel-inner {
  height: 55vw;
}

.carousel-item {
  height: 55vw;
}
.carousel-indicators {
  display: none;
}

.carousel-caption {
  bottom: -10vh;
  width: 70vw;
}

.carousel h4 {
  margin-bottom:5px;
  font-size: 5vw;
  line-height: 7vw;
}

.carousel .highlight-text {
  padding-bottom: 1vh;
}

/* 
-----------------
responsive - section 
-----------------
*/

section {
  flex-direction: column;
  align-items: center;
  padding: 1vh 1.5vw;
  width:100%;
}

section  h2{
  font-size: 2rem;
}
article {
  width: 90vw;
}

.opportunity-label {
  left: 3vw;
  top: 3vw;
  padding: 1vw;
}

.transaction-button {
  right: 3vw;
  bottom: 3vw;
  padding: 1vw;
}

section.otros-servicios .highlight {
  flex-direction: column;
  justify-content: space-around;
}

.highlight-text {
  width:100%;
  padding-bottom: 5vh;
}

section.otros-servicios .highlight-text {
  font-size: 5vw;
  text-align: center;
}

.highlight button {
  background-color: #b62300;
  min-width: 40vw;
  max-width: 50%;
  margin: 10px auto 20px;
}

footer {
  flex-direction: column;
  align-items: center;
}

nav.main {
  width: 100vw;
}

nav.main ul {
  flex-direction: column;
  align-items: center;
}

nav.main ul li {
  padding-right: 0;
}

nav.social ul li:nth-of-type(2) {
  padding-right: 0px;
}




/* 
-----------------
section  - busqueda avanzada
-----------------
*/



section .advanced-searchbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding: 2vw 0;
}

section .advanced-searchbox .orden {
  width: 70%;
}


.advanced-searchbox .scrollbar {
  width: 80%;
}


/*
------------------
section - contacto
-------------------
*/

section.contacto {
  flex-direction: column;
  padding:30px 3% 3% 3%;
  min-height: 70vh;
  height: fit-content;
  text-align: center;
}

section.contacto .highlight-text {
  width: 80vw;
  text-align: center;
  margin-right:0;
}

.contact-form {
  flex-direction: column;
  background-color: #fff;
  padding: 0 5vw 2vw 5vw;
  width:90vw;
  text-align: center;
  justify-content: center;
}

.contact-form input {
  width:80vw;

}

.contact-form a button {
  min-width: 25vw;
  width:auto;
}


/* 
-----------------
nosotros section - articles
-----------------
*/


section.nosotros {
  flex-direction: column;
  justify-content: center;
  padding:20px;
  width:100%
}

section .six-col-image {
  min-height: 30vh;
  width:100%;
}

section.nosotros .section-text {
  width:100%;
}

.section-text button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  background-color: #b62300;
  cursor: pointer;
  padding: 2px;
  width:auto;
  min-width:20%;
  margin: 2% 40% ;
  padding:10px;
}

section.tasaciones {
  flex-direction: column;
  justify-content: center;
  padding:20px;
  width:100%
}

section.tasaciones .section-text {
  width:100%;
}


}

